/* Homepage */

body{
      overflow-x: hidden;
}

.post, .page{
  margin: 0;
}
.container {
  max-width: 1010px;
  margin: 0 auto;
}
.titleContainer {
  max-width: 1140px;
  margin: 0 auto;
}
.titleContainer .title {
  font-size: 26px;
  position: relative;
  margin-bottom: 90px;
}
.titleContainer .title::after {
  max-width: 580px;
  width: 100%;
  height: 1px;
  background-color: #171111;
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
}
#masthead {
  display: none;
}
.sideMenu {
  display: none;
}
.homepage .homepageContent{
  display: flex;
  justify-content: space-between;
  margin-top: 7%;
}
.homepage .homeLogo{
  max-width: 185px;
  margin-left: 5%;
}
.homepage video.homeVideoBack{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}
.homepage .rectangleBlock{
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.homepage .rectangleBlock p{
  font-size: 100px;
  color: black;
  max-width: 60%;
  text-transform: uppercase;
  line-height: 100px;
  font-weight: 800;
  margin: auto 0;
  padding: 15% 0;
}
.homepage .clientsBlock{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.homepage .clientItemHome{
  border-top: 1.5px solid black;
  border-left: 1.5px solid black;
  color: black;
  text-decoration: none;
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 50px;
}
.homepage .clientItemHome:visited{
  color: black;
}
.homepage .clientItemHome p{
  max-width: 55%;
  margin: 0;
  padding: 20px;
  padding-right: 0;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 35px;
  font-weight: 700;
  color: black;
  border-bottom: 1.5px solid black;
}
.rectangleBlock img{
  position: absolute;
  right: 0;
  bottom: -160px;
}


/* About us page */


.aboutUsPageWrapper .aboutUsFirstScreen {
  min-height: 100vh;
  position: relative;
  background-color: #e5e5e3;
}
.aboutUsPageWrapper .aboutUsFirstScreen .logo {
  max-width: 170px;
  position: absolute;
  top: 10%;
  left: 4%;
}
.aboutUsPageWrapper .aboutUsFirstScreen .logo img {
  width: 100%;
}
.aboutUsPageWrapper .aboutUsFirstScreen .decorCircle {
  position: absolute;
  bottom: 2%;
  right: -13%;
}
.aboutUsPageWrapper .aboutUsFirstScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.aboutUsPageWrapper .borderBlock {
  width: 100%;
  color: #171111;
  text-transform: uppercase;
  position: relative;
}
.aboutUsPageWrapper .borderBlock .row {
  border: 2px solid #171111;
}
.aboutUsPageWrapper .borderBlock .row:nth-child(1) {
  border-bottom: 0px;
  min-height: 13vh;
}
.aboutUsPageWrapper .borderBlock .row:nth-child(2) {
  border: none;
  border-right: 2px solid #171111;
}
.aboutUsPageWrapper .borderBlock .row:nth-child(3) {
  border-top: 0;
  min-height: 13vh;
}
.aboutUsPageWrapper .borderBlock .row .title {
  font-size: 100px;
  text-align: left;
}
.aboutUsPageWrapper .aboutYellow {
  background-color: #fff600;
  color: #171111;
  padding-top: 150px;
  padding-bottom: 100px;
}
.aboutUsPageWrapper .aboutYellow > .container {
  display: flex;
  justify-content: space-between;
}
.aboutUsPageWrapper .aboutYellow .part {
  flex-basis: calc(50% - 50px);
}
.aboutUsPageWrapper .aboutYellow p {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  font-size: 18px;
  line-height: 23px;
}
.aboutUsPageWrapper .aboutMap {
  background-color: #fefefe;
  padding-top: 160px;
  padding-bottom: 180px;
}

.aboutUsPageWrapper .aboutMap > .container {
  display: flex;
}
.aboutUsPageWrapper .aboutMap .mapSection {
  /*flex-basis: 65%;*/
  width: 55%;
  margin: auto;
  overflow: hidden; /* clearfix */
  display: flex;
}
.aboutUsPageWrapper .aboutMap .mapSection:before {
  content: "";
  padding-top: 100%;
  float: left;
}
.aboutUsPageWrapper .aboutMap .mapSection iframe {
  width: 100%;
  margin: 0;
}
.aboutUsPageWrapper .aboutMap .titleSection {
  width: 45%;
  display: flex;
  flex-direction: column;
  background-color: #030000;
  padding: 7%;
}
.aboutUsPageWrapper .aboutMap .mapTitle {
  font-size: 48px;
  line-height: 48px;
  color: #fefefe;
}
.aboutUsPageWrapper .aboutMap .mapTitleRow {
  display: flex;
  align-items: center;
}
.aboutUsPageWrapper .aboutMap .titleSection .row {
  border: 2px solid #fefefe;
  flex-grow: 1;
}
.aboutUsPageWrapper .aboutMap .titleSection .row:nth-child(1) {
  border-bottom: 0;
  height: 10%;
}
.aboutUsPageWrapper .aboutMap .titleSection .row:nth-child(2) {
  border: none;
  border-left: 2px solid #fefefe;
}
.aboutUsPageWrapper .aboutMap .titleSection .row:nth-child(3) {
  border-top: 0;
  height: 10%;
}

.aboutUsPageWrapper .activityAreas {
  color: #ffffff;
  background-color: #000000;
  padding-top: 160px;
  padding-bottom: 160px;
}
.aboutUsPageWrapper .activityAreas .titleContainer {
  padding-left: 60px;
}
.aboutUsPageWrapper .activityAreas .titleContainer .title::after {
  background-color: #fefefe;
  width: 100%;
  max-width: 100%;
}
.aboutUsPageWrapper .activityAreas .content {
  padding-right: 60px;
  padding-left: 60px;
}
.aboutUsPageWrapper .activityAreas .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.aboutUsPageWrapper .activityAreas .singleParagraph {
  flex-basis: calc(50% - 50px);
}
.aboutUsPageWrapper .activityAreas .pTitle {
  position: relative;
  font-size: 26px;
}
.aboutUsPageWrapper .activityAreas .pTitle:after {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 1px;
  background-color: #fefefe;
}
.aboutUsPageWrapper .activityAreas .pContent {
  font-size: 18px;
  line-height: 23px;
}


.aboutUsPageWrapper .managmentBoard {
  background-color: #fffefe;
  padding-top: 160px;
  padding-bottom: 160px;
  color: #020000;
}
.aboutUsPageWrapper .managmentBoard .board {
  display: flex;
  justify-content: space-between;
}
.aboutUsPageWrapper .managmentBoard .member {
  display: flex;
  flex-direction: column;
  flex-basis: calc(33% - 30px);
}
.aboutUsPageWrapper .managmentBoard .member .image {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.aboutUsPageWrapper .managmentBoard .member .memberTitle {
  font-size: 26px;
  line-height: 23px;
  position: relative;
  padding-bottom: 10px;
}
.aboutUsPageWrapper .managmentBoard .member .memberTitle:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  display: block;
  background-color: #020000;
}
.aboutUsPageWrapper .managmentBoard .member .memberDescription {
  font-size: 18px;
  line-height: 23px;
  padding-top: 10px;
}
#wwd {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-bottom: 20px;
}
#wwd svg path {
  fill: transparent;
}
#wwd.animateStart svg path {
  stroke: #171111;
  stroke-width: 3;
}
#wwd.animateStart svg path:nth-child(1) {
  stroke-dasharray: 521;
  stroke-dashoffset: 521;
  animation: line-move 2s ease forwards, fill 0.5s ease forwards 3s;
}
#wwd.animateStart svg path:nth-child(2) {
  stroke-dasharray: 376;
  stroke-dashoffset: 376;
  animation: line-move 2s ease forwards 0.3s, fill 0.5s ease forwards 3s;
}
#wwd.animateStart svg path:nth-child(3) {
  stroke-dasharray: 345;
  stroke-dashoffset: 345;
  animation: line-move 2s ease forwards 0.6s, fill 0.5s ease forwards 3s;
}
#wwd.animateStart svg path:nth-child(4) {
  stroke-dasharray: 521;
  stroke-dashoffset: 521;
  animation: line-move 2s ease forwards 0.9s, fill 0.5s ease forwards 3s;
}
#wwd.animateStart svg path:nth-child(5) {
  stroke-dasharray: 359.6;
  stroke-dashoffset: 359.6;
  animation: line-move 2s ease forwards 1.2s, fill 0.5s ease forwards 3s;
}
#wwd.animateStart svg path:nth-child(6) {
  stroke-dasharray: 326;
  stroke-dashoffset: 326;
  animation: line-move 2s ease forwards 1.5s, fill 0.5s ease forwards 3s;
}
#wwd.animateStart svg path:nth-child(7) {
  stroke-dasharray: 372;
  stroke-dashoffset: 372;
  animation: line-move 2s ease forwards 1.8s, fill 0.5s ease forwards 3s;
}
#wwd.animateStart svg path:nth-child(8) {
  stroke-dasharray: 359.6;
  stroke-dashoffset: 359.6;
  animation: line-move 2s ease forwards 2.1s, fill 0.5s ease forwards 3s;
}
/*  second line */
#wwd.animateStart svg path:nth-child(9) {
  stroke-dasharray: 521;
  stroke-dashoffset: 521;
  animation: line-move 2s ease forwards 0.3s, fill 0.5s ease forwards 3s;
}
#wwd.animateStart svg path:nth-child(10) {
  stroke-dasharray: 376;
  stroke-dashoffset: 376;
  animation: line-move 2s ease forwards 0.6s, fill 0.5s ease forwards 3s;
}
#wwd.animateStart svg path:nth-child(11) {
  stroke-dasharray: 326;
  stroke-dashoffset: 326;
  animation: line-move 2s ease forwards 0.9s, fill 0.5s ease forwards 3s;
}
#wwd.animateStart svg path:nth-child(12) {
  stroke-dasharray: 258;
  stroke-dashoffset: 258;
  animation: line-move 2s ease forwards 1.2s, fill 0.5s ease forwards 3s;
}
#wwd.animateStart svg path:nth-child(13) {
  stroke-dasharray: 521;
  stroke-dashoffset: 521;
  animation: line-move 2s ease forwards 1.5s, fill 0.5s ease forwards 3s;
}
#wwd.animateStart svg path:nth-child(14) {
  stroke-dasharray: 359.6;
  stroke-dashoffset: 359.6;
  animation: line-move 2s ease forwards 1.8s, fill 0.5s ease forwards 3s;
}
#wwd.animateStart svg path:nth-child(15) {
  stroke-dasharray: 353;
  stroke-dashoffset: 353;
  animation: line-move 2s ease forwards 2.1s, fill 0.5s ease forwards 3s;
}
#wwd.animateStart svg path:nth-child(16) {
  stroke-dasharray: 345;
  stroke-dashoffset: 345;
  animation: line-move 2s ease forwards 2.4s, fill 0.5s ease forwards 3s;
}


@keyframes line-move {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill {
  to {
    fill: #171111;
    stroke-width: 1px;
  }
}

.aboutUsPageWrapper .partneers {
  background-color: #fff600;
  padding-top: 160px;
  padding-bottom: 160px;
  color: #000;
}

/* Side Menu */

.sideMenu{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 12%;
}
.sideMenu .sideMenuItem{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  margin-bottom: 3px;
  width: 56px;
  height: 56px;
  z-index: 3;
  background-color: black;
}
.sideMenu .sideMenuItem p.langName{
  margin: auto;
  text-transform: capitalize;
  color: white;
  font-size: 20px;
}
.sideMenu .sideMenuItem i{
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: .5s;
}
.sideMenu .sideMenuItem.active img{
  position: absolute;
  visibility: visible;
  opacity: 1;
  transition: .5s;
}
.sideMenu .sideMenuItem.active i{
  visibility: visible;
  opacity: 1;
  transition: .5s;
}
.sideMenu .sideMenuItem.active img{
  visibility: hidden;
  opacity: 0;
  transition: .5s;
}
.sideMenu .sideMenuItem .sideMenuMail i{
  visibility: visible;
  opacity: 1;
  color: white;
  font-size: 30px;
}
.sideMenu .sideMenuItem.active{
  background-color: #fff600;
}
.sideMenu.active .sideMenuItem{
  border: 1px solid #fff600;
  border-right: none;
}
.sideMenu .sideMenuMail{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sideMenuWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: black;
  width: 70%;
  height: 100%;
  z-index: 2;
  right: 0;
  transform: translateX(100%);
  transition: .5s;
}
.sideMenuWrapper.active{
  transform: unset;
  transition: .5s;
}
.sideMenuWrapper .sideMenuContent{
  width: 650px;
  display: flex;
  flex-direction: column;
}
.sideMenuWrapper .sideMenuContent .menuBlock{
  border: 1px solid #fff600;
  display: flex;
  justify-content: flex-end;
  padding: 75px 65px;
}
.sideMenuWrapper .sideMenuContent .infoRow{
  display: flex;
  justify-content: space-between;
}
.sideMenuWrapper .sideMenuContent .infoCol{
  color: white;
}
.sideMenuWrapper .sideMenuContent .socialsRow{
  border-top: 1px solid #fff600;
  padding-top: 15px;
  display: flex;
  align-items: flex-end;
}
.sideMenuWrapper .sideMenuContent .socialsRow a{
  display: flex;
  padding-left: 7px;
}
.sideMenuWrapper .sideMenuContent .socialsRow a img{

}
.sideMenuWrapper .sideMenuContent .socialsRow span{
  font-size: 18px;
  line-height: 18px;
  color: white;
}
.sideMenuWrapper .sideMenuContent .infoRow .infoHeading{
  margin: 10px 0;
}
.sideMenuWrapper .sideMenuContent .wpml-ls-legacy-list-horizontal a{
  border-right: 1px solid white;
  padding: 0 10px;
  font-size: 18px;
  line-height: 18px;
  color: white;
}
.sideMenuWrapper .sideMenuContent .wpml-ls-legacy-list-horizontal{
  padding: 0;
}
.sideMenuWrapper .sideMenuContent .main-navigation a{
  color: white;
}
.sideMenuWrapper .sideMenuContent li.current-menu-item{
  color: #fff600;
}
.sideMenuWrapper .sideMenuContent li.menu-item-has-children:after{
  font-family: 'Font Awesome\ 5 Pro';
  font-weight: 900;
  content: "\f104";
  color: #fff600;
}
.main-navigation ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
