/* Homepage */

body{
    font-family: 'asimon', sans-serif !important;
    /*overflow: hidden;*/
    direction: ltr;
}
body .page-template-templatesHomepage-php {
  overflow: hidden;
}
a:focus {
  outline: none;
}

.post, .page{
  margin: 0;
}
.container {
  max-width: 1120px;
  margin: 0 auto;
}
.titleContainer {
  max-width: 1120px;
  margin: 0 auto;
}
.titleContainer .title {
  display: flex;
justify-content: flex-end;
  font-size: 26px;
  position: relative;
  margin-bottom: 90px;
  padding-bottom: 10px;
}
.titleContainer .title::after {
  max-width: 580px;
  width: 100%;
  height: 2px;
  background-color: #171111;
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
}
#masthead {
  display: none;
}
.sideMenu {
  display: none;
}
.homepage .homepageContent{
  display: flex;
  justify-content: space-between;
  margin-top: 7%;
}
.homepage .homeLogo{
  max-width: 185px;
  margin-left: 5%;
}
.homepage video.homeVideoBack{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}
.homepage .rectangleBlock{
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.homepage .rectangleBlock p{
  font-size: 100px;
  color: black;
  max-width: 60%;
  text-transform: uppercase;
  line-height: 100px;
  font-weight: 800;
  margin: auto 0;
  padding: 15% 0;
}
.clientsBlock{
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 43vh;
}
[dir="rtl"] .clientsBlock{
  direction: rtl;
}
.clientItemHome{
  border-top: 1.5px solid black;
  border-left: 1.5px solid black;
  color: black;
  text-decoration: none;
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 50px;
}
.clientItemHome:hover {
  text-decoration: none;
}
.clientItemHome:visited{
  color: black;
}
.clientItemHome p{
  max-width: 55%;
  margin: 0;
  padding: 20px;
  padding-right: 0;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 35px;
  font-weight: 700;
  color: black;
  border-bottom: 1.5px solid black;
}
.rectangleBlock img{
  position: absolute;
  right: 0;
  bottom: -160px;
}

/*Header*/
[dir="rtl"] .clientItemHome{
	justify-content: flex-end;
}
[dir="rtl"] .clientItemHome p{
	max-width: 75%;
  direction: ltr;
}
[dir="rtl"] .sideMenuWrapper .sideMenuContent li.menu-item-has-children a{
	text-align: right;
}

header{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
	height: 100vh;
	position: relative;
}
.header__round_text{
    position: absolute;
    bottom: -155px;
    right: 55px;
    -webkit-animation-name: rotation;
    -webkit-animation-duration: 36s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotation;
    -moz-animation-duration: 36s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -o-animation-name: rotation;
    -o-animation-duration: 36s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    animation-name: rotation;
    animation-duration: 36s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}


/* FIRST BLOCK ANIMATIONS */
@keyframes borderTopLeft {
  from {
    height: 0;
  }
  to {
    height: 140px;
  }
}
@keyframes borderTop {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes borderTopRight {
  from {
    height: 0;
  }
  to {
    height: 140px;
  }
}
@keyframes borderRight {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
@keyframes borderBottomRight {
  from {
    height: 0;
  }
  to {
    height: 140px;
  }
}
@keyframes borderBottom {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes borderBottomLeft {
  from {
    height: 0;
  }
  to {
    height: 140px;
  }
}
/* end /* FIRST BLOCK ANIMATIONS */


.borderblockWrapper .borderblock{
    width: 100%;
    border: 2px solid #171111;
    height: 140px;
}
.borderblockWrapper {
  position: relative;
  padding-right: 0;
}
.borderblockWrapper .borderblock::before, .borderblock::after {
  content: '';
  display: block;
  position: absolute;
  background-color: #171111;
}
.borderblockWrapper .borderblock:nth-child(1)::before {
  width: 2px;
  height: 0;
  bottom: calc(100% - 140px);
  animation: borderTopLeft 0.25s 0.25s;
  animation-fill-mode: forwards;
}
.borderblockWrapper .borderblock:nth-child(1){
  width: 0%;
  border: 0;
  border-top: 2px solid #171111;
  animation: borderTop 0.25s 0.5s;
  animation-fill-mode: forwards;
}
.borderblockWrapper .borderblock:nth-child(1)::after {
  width: 2px;
  height: 0;
  top: 0;
  right: 0;
  animation: borderTopRight 0.25s 0.75s cubic-bezier(0, 0, 0, 0);
  animation-fill-mode: forwards;
}
.borderblockWrapper .borderblock:nth-child(2){
  border: 0;
  height: auto;
  display: flex;
  padding-bottom: 10px;
  position: relative;
}
.borderblockWrapper .borderblock:nth-child(2)::after {
  right: 0;
  top: 0;
  height: 0;
  width: 2px;
  animation: borderRight 0.25s 1s cubic-bezier(0, 0, 0, 0);
  animation-fill-mode: forwards;
}
.borderblockWrapper .borderblock:nth-child(3){
    border: 0;
    position: relative;
}
.borderblockWrapper .borderblock:nth-child(3)::after {
  right: 0;
  top: 0;
  width: 2px;
  height: 0;
  animation: borderBottomRight 0.25s 1.25s cubic-bezier(0, 0, 0, 0);
  animation-fill-mode: forwards;
}
.borderblockWrapper .borderblock:nth-child(3) .bottomLine {
  position: absolute;
  width: 0;
  right: 0;
  height: 2px;
  bottom: 0;
  background-color: #171111;
  animation: borderBottom 0.5s 1.5s;
  animation-fill-mode: forwards;
}
.borderblockWrapper .borderblock:nth-child(3)::before {
  left: 0;
  bottom: 0;
  width: 2px;
  height: 0;
  animation: borderBottomLeft 0.5s 2s;
  animation-fill-mode: forwards;
}
.headerSection .borderBlock .row .title span, header .header__title span {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.headerSection .borderBlock .row .title span.animationTriggered, header .header__title span.animationTriggered {
  visibility: visible;
  opacity: 1;
}

.header__title{
    text-align: left;
    font-size: 124px;
    font-weight: 900;
    text-transform: uppercase;
    margin: auto 0;
    max-width: 770px;
    font-family: 'Roboto';
    color: #171111;

}
.blog .header .borderblock {
    border-color: #fff;
    color: #fff;
}
.blog .header .borderblock .header__title{
    font-size: 105px;
}


/* About us page */


.headerSection {
  min-height: 100vh;
  position: relative;
  background-color: #e5e5e3;
}
.logo {
  max-width: 170px;
  position: absolute;
  top: 10%;
  left: 4%;
  z-index: 999;
}
.headerSection .logo img {
  width: 100%;
}
.headerSection .decorCircle {
  position: absolute;
  bottom: 2%;
  right: -13%;
}
.headerSection {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

/* FIRST BLOCK ANIMATIONS, OTHER PAGES */
@keyframes borderVertical {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
@keyframes borderHorizonal {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* end */

.headerSection .borderBlock {
  width: 100%;
  color: #171111;
  text-transform: uppercase;
  position: relative;
  padding: 0;
}
.headerSection .borderBlock .row {
  /* border: 2px solid #171111; */
  margin: 0;
}
.headerSection .borderBlock .row::before, .headerSection .borderBlock .row::after {
  content: '';
  position: absolute;
  background-color: #171111;
}
.headerSection .borderBlock .row:nth-child(1):before {
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
}
.headerSection .borderBlock.animated .row:nth-child(1) {
  border-top: 2px solid #171111;
  max-height: 13vh;
  position: absolute;
  bottom: calc(100% - 13vh);
  left: 0;
  animation: borderHorizonal 0.5s 0.5s, borderVertical 0.5s 0.3s;
  animation-fill-mode: forwards;
}
.headerSection .borderBlock.bigPaddings .row .title {
  padding-top: 3vw;
  padding-bottom: 3.5vw;
}
.headerSection .borderBlock.animated .row:nth-child(1)::after {
  max-height: 100%;
  height: 0;
  width: 2px;
  position: absolute;
  bottom: calc(100% - 13vh);
  right: 0;
  top: 0;
  animation: borderVertical 0.3s 1s cubic-bezier(0, 0, 0, 0);
  animation-fill-mode: forwards;
}
.headerSection .borderBlock .row:nth-child(2) {
  border: none;
  margin-top: 13vh;
  margin-bottom: 13vh;
  position: relative;
}
.headerSection .borderBlock.animated .row:nth-child(2)::after {
  right: 0;
  top: 0;
  width: 2px;
  animation: borderVertical 0.5s 1.3s cubic-bezier(0, 0, 0, 0);
  animation-fill-mode: forwards;
}
.headerSection .borderBlock.animated .row:nth-child(3)::before {
  right: 0;
  top: 0;
  width: 2px;
  animation: borderVertical 0.3s 1.8s cubic-bezier(0, 0, 0, 0);
  animation-fill-mode: forwards;
}
.headerSection .borderBlock.animated .row:nth-child(3) {
  border-top: 0;
  max-height: 13vh;
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 100%;
  animation: borderHorizonal 0.5s 2.1s, borderVertical 0.3s 1.8s;
  animation-fill-mode: forwards;
  border-bottom: 2px solid #171111;
}
.headerSection .borderBlock.animated .row:nth-child(3)::after {
  left: 0;
  bottom: 0;
  max-height: 13vh;
  position: absolute;
  width: 2px;
  animation: borderVertical 0.3s 2.6s;
  animation-fill-mode: forwards;
}
.headerSection .borderBlock .row .title {
  font-size: 100px;
  text-align: left;
  max-width: 650px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 100px;
  line-height: 120px;
  padding-bottom: 10px;
}

.aboutUsPageWrapper .aboutYellow {
  background-color: #fff600;
  color: #171111;
  padding-top: 150px;
  padding-bottom: 100px;
}
.aboutUsPageWrapper .aboutYellow > .container {
  display: flex;
  justify-content: space-between;
}
.aboutUsPageWrapper .aboutYellow .part {
  flex-basis: calc(50% - 50px);
}
.aboutUsPageWrapper .aboutYellow p {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  font-size: 18px;
  line-height: 23px;
  text-align: right;
  direction: rtl;
}


.aboutUsPageWrapper .aboutMap {
  background-color: #fefefe;
  padding-top: 160px;
  padding-bottom: 180px;
}
.aboutUsPageWrapper .aboutMap > .container {
  direction: rtl;
  display: flex;
}
.aboutUsPageWrapper .aboutMap .mapTitle {
  text-align: right;
}
.aboutUsPageWrapper .aboutMap .mapSection {
  /*flex-basis: 65%;*/
  width: 55%;
  margin: auto;
  overflow: hidden; /* clearfix */
  display: flex;
}
.aboutUsPageWrapper .aboutMap .mapSection:before {
  content: "";
  padding-top: 100%;
  float: left;
}
.aboutUsPageWrapper .aboutMap .mapSection iframe {
  width: 100%;
  margin: 0;
}
.aboutUsPageWrapper .aboutMap .titleSection {
  width: 45%;
  display: flex;
  flex-direction: column;
  background-color: #030000;
  padding: 7%;
  position: relative;
}
.aboutUsPageWrapper .aboutMap .additionalImage {
  position: absolute;
  top: 105px;
  left: -40px;
}
.aboutUsPageWrapper .aboutMap .mapTitle {
  font-size: 48px;
  line-height: 48px;
  color: #fefefe;
}
.aboutUsPageWrapper .aboutMap .mapTitleRow {
  display: flex;
  align-items: center;
}
.aboutUsPageWrapper .aboutMap .titleSection .row {
  border: 2px solid #fefefe;
  flex-grow: 1;
}
.aboutUsPageWrapper .aboutMap .titleSection .row:nth-child(1) {
  border-bottom: 0;
  height: 10%;
}
.aboutUsPageWrapper .aboutMap .titleSection .row:nth-child(2) {
  border: none;
  border-left: 2px solid #fefefe;
}
.aboutUsPageWrapper .aboutMap .titleSection .row:nth-child(3) {
  border-top: 0;
  height: 10%;
}

.aboutUsPageWrapper .activityAreas {
  color: #ffffff;
  background-color: #000000;
  padding-top: 160px;
  padding-bottom: 160px;
}
.aboutUsPageWrapper .activityAreas .titleContainer {
  padding-left: 60px;
}
.aboutUsPageWrapper .activityAreas .titleContainer .title::after {
  background-color: #fefefe;
  width: 100%;
  max-width: 100%;
}
.aboutUsPageWrapper .activityAreas .content {
  padding-right: 60px;
  padding-left: 60px;
}
.aboutUsPageWrapper .activityAreas .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  direction: rtl;
  text-align: right;
}
.aboutUsPageWrapper .activityAreas .singleParagraph {
  flex-basis: calc(50% - 50px);
}
.aboutUsPageWrapper .activityAreas .pTitle {
  position: relative;
  font-size: 26px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.aboutUsPageWrapper .activityAreas .pTitle:after {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 1px;
  background-color: #fefefe;
}
.aboutUsPageWrapper .activityAreas .pContent {
  font-size: 18px;
  line-height: 23px;
}
.aboutUsPageWrapper .managmentBoard {
  background-color: #fffefe;
  padding-top: 160px;
  padding-bottom: 160px;
  color: #020000;
}
.aboutUsPageWrapper .managmentBoard .board {
  display: flex;
  justify-content: space-between;
}
.aboutUsPageWrapper .managmentBoard .member {
  display: flex;
  flex-direction: column;
  flex-basis: calc(33% - 30px);
  direction: rtl;
text-align: right;
}
.aboutUsPageWrapper .managmentBoard .member .image {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.aboutUsPageWrapper .managmentBoard .member .memberTitle {
  font-size: 26px;
  line-height: 23px;
  position: relative;
  padding-bottom: 10px;
}
.aboutUsPageWrapper .managmentBoard .member .memberTitle:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  display: block;
  background-color: #020000;
}
.aboutUsPageWrapper .managmentBoard .member .memberDescription {
  font-size: 18px;
  line-height: 23px;
  padding-top: 10px;
}

.aboutUsPageWrapper .partneers {
  background-color: #fff600;
  padding-top: 160px;
  padding-bottom: 160px;
  color: #000;
}
.aboutUsPageWrapper .partneers a.singlePartneer {
  padding: 0 20px;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Side Menu */

.page-template-Homepage {
  overflow-y: hidden;
}
.sideMenu{
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 7;
  right: 0;
  top: 12%;
}
.sideMenu .sideMenuItem{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  margin-bottom: 3px;
  width: 56px;
  height: 56px;
  z-index: 3;
  background-color: black;
}
.sideMenuItem .langName{
  margin: auto;
  text-transform: capitalize;
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.sideMenuItem a:visited, .sideMenuItem a:active, .sideMenuItem a:active{
    text-decoration: none;
}
.sideMenuItem a:visited, .sideMenuItem a:active{
  color: #fff600;
}

.sideMenu .sideMenuItem i{
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: .5s;
}
.sideMenu .sideMenuItem.active img{
  position: absolute;
  visibility: visible;
  opacity: 1;
  transition: .5s;
}
.sideMenu .sideMenuItem.active i{
  visibility: visible;
  opacity: 1;
  transition: .5s;
  font-size: 30px;
font-weight: 100;
}
.sideMenu .sideMenuItem.active img{
  visibility: hidden;
  opacity: 0;
  transition: .5s;
}
.sideMenu .sideMenuItem .sideMenuMail i{
  visibility: visible;
  opacity: 1;
  color: white;
  font-size: 30px;
}
.sideMenu .sideMenuItem.active{
  background-color: #fff600;
}
.sideMenu.active .sideMenuItem{
  border: 1px solid #fff600;
  border-right: none;
}
.sideMenu .sideMenuMail{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sideMenuWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background-color: black;
  width: 70%;
  height: 100vh;
  z-index: 2;
  right: 0;
  transform: translateX(100%);
  transition: .5s;
}
.sideMenuWrapper.active{
  transform: unset;
  transition: .5s;
}
.sideMenuWrapper .sideMenuContent{
  width: 650px;
  display: flex;
  flex-direction: column;
  margin-top: 4%;
}
.sideMenuWrapper .sideMenuContent .menuBlock{
  border: 1px solid #fff600;
  border-right: 0;
  display: flex;
  justify-content: flex-end;
  padding: 75px 65px;
  position: relative;
}
.sideMenuWrapper .sideMenuContent .menuBlock:after{
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 40%;
    background: #fff600;

}
.sideMenuWrapper .sideMenuContent .infoRow{
  display: flex;
  justify-content: space-between;
  height: 30vh;
  align-items: center;
  margin-bottom: 20px;
}
.sideMenuWrapper .sideMenuContent .infoCol{
  color: white;
}
.sideMenuWrapper .sideMenuContent .infoCol a,
.sideMenuWrapper .sideMenuContent .infoCol p,
.sideMenuWrapper .sideMenuContent .infoCol span,
.sideMenuWrapper .sideMenuContent .infoCol a:visited{
  color: #666464;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}
.sideMenuWrapper .sideMenuContent .infoCol:first-child p,
.sideMenuWrapper .sideMenuContent .infoCol:first-child span{
  color: white;
}

.infoCol .changeLang__item{
    color: #fff600;
    font-weight: 500;
}
.infoCol .changeLang__item .langName .LangEn{
    display: inline;
}
.infoCol .changeLang__item .langName .LangHe{
    display: none;
}
.infoCol .changeLang__item a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}
.infoCol .changeLang__item a:after{
    content: '';
    padding-left: 10px;
    margin-left: 10px;
    border-left: 2px solid #fff;
}
.sideMenuWrapper .sideMenuContent .socialsRow{
  border-top: 1px solid #fff600;
  padding-top: 15px;
}
.sideMenuWrapper .sideMenuContent .socialsRow a{
  display: flex;
  padding-left: 7px;
}
.sideMenuWrapper .sideMenuContent .socialsRow a img{

}
.sideMenuWrapper .sideMenuContent .socialsRow span{
  font-size: 18px;
  line-height: 18px;
  color: white;
  display: inline-flex;
  margin-right: auto;
}
.sideMenuWrapper .sideMenuContent .infoRow .infoHeading{
  margin: 10px 0;
  font-size: 16px;
  font-weight: 400;
}
.sideMenuWrapper .sideMenuContent .wpml-ls-current-language a span{
  color: #fff600 !important;
}
.sideMenuWrapper .sideMenuContent .wpml-ls-legacy-list-horizontal a{
  border-right: 1px solid white;
  padding: 0 10px;
  font-size: 18px;
  line-height: 18px;
  color: white;
}
.sideMenuWrapper .sideMenuContent .wpml-ls-legacy-list-horizontal{
  padding: 0;
}
.sideMenuWrapper .sideMenuContent .main-navigation a{
  color: white;
  font-size: 26px;
  font-weight: 300;
  line-height: 42px;
}
.sideMenuWrapper .sideMenuContent li.current-menu-item a{
  color: #fff600;
}
.sideMenuWrapper .sideMenuContent li.menu-item-has-children{
	display: flex;
	flex-direction: column;
}
.sideMenuWrapper .sideMenuContent li.menu-item-has-children a{
	display: inline;
  text-align: right;
}


.sideMenuWrapper .sideMenuContent li.menu-item-has-children .sub-menu{
	height: 0;
	opacity: 0;
	visibility: hidden;
	transition: .5s;
}

.vimeo-wrapper {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   pointer-events: none;
   overflow: hidden;
}
.vimeo-wrapper iframe {
   width: 100vw;
   height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
   min-height: 100vh;
   min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.sideMenuWrapper .sideMenuContent li.menu-item-has-children.active .sub-menu{
	height: auto;
	opacity: 1;
	visibility: visible;
	transition: .5s;
	padding-right: 10px;
}
.sideMenuWrapper .sideMenuContent li.menu-item-has-children.active > a{
	color: #fff600;
}
.sideMenuWrapper .sideMenuContent li.menu-item-has-children.active:after{
	transform: rotate(-90deg);
}

.sideMenuWrapper .sideMenuContent li.menu-item-has-children:after{
  font-family: 'Font Awesome\ 5 Pro';
  font-weight: 900;
  content: "\f104";
  color: #fff600;
	position: absolute;
  right: -20px;
  top: 12px;
}
.sideMenuWrapper .sideMenuContent .main-navigation ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
}
.sideMenuWrapper .sideMenuContent .sub-menu li a{
  color: white;
}
.wpml-ls-legacy-list-horizontal a span {
    vertical-align: unset;
    text-transform: uppercase;
    font-size: 16px;
font-weight: 400;
}
.wpml-ls-legacy-list-horizontal .wpml-ls-item:nth-child(1) a{
  padding-left: 0;
}
.wpml-ls-legacy-list-horizontal .wpml-ls-item:nth-child(2) a{
  padding-right: 0;
  border: none;
}
/* Side menu popup with form */
.sideMenu .mailBlock .popup {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 100%;
  max-width: 500px;
  width: 500px;
  top: 0;
  background-color: #030000;
  padding-left: 40px;
  padding-right: 35px;
  padding-top: 35px;
  transition: all 0.3s;
  transform: perspective(1000px) rotateY(-90deg);
}
.sideMenu .mailBlock .popup.opened {
  transform: perspective(000px) rotateY(-0deg);
  opacity: 1;
  visibility: visible;
}
.sideMenu .mailBlock .popup .popupTitle {
  font-size: 26px;
  color: #ffffff;
  border-bottom: 2px solid white;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.sideMenu .mailBlock .popup .popupForm {

}
.sideMenu .mailBlock .popup .popupForm input {
  width: 100%;
  outline: none;
  box-shadow: none;
  border: 1px solid transparent;
  border-radius: 0;
  margin-bottom: 25px;
  background-color: #f4f4f4;
  font-size: 18px;
  color: #000;
  line-height: 50px;
  height: 50px;
}
.sideMenu .mailBlock .popup .popupForm input::placeholder {
  color: #c0c0c0;
}
.sideMenu .mailBlock .caldera-grid .form-group {
  margin: 0;
}
.sideMenu .mailBlock .intl-tel-input {
  width: 100%;
  margin-bottom: 25px;
}
.sideMenu .mailBlock .intl-tel-input.allow-dropdown .flag-container {
  display: none;
}
.sideMenu .mailBlock .caldera-grid .row {
  margin: 0;
}
.sideMenu .mailBlock .caldera-grid .row > div {
  padding: 0;
}
.sideMenu .mailBlock .popup .popupForm input[type="text"] {

}
.sideMenu .mailBlock .popup .popupForm input[type="tel"] {
  padding-left: 10px;
}
.sideMenu .mailBlock .popup .popupForm input[type="email"] {

}
.sideMenu .mailBlock .popup .popupForm input[type="submit"] {
  display: none;
}
.sideMenu .mailBlock .popup .popupForm textarea {
  outline: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
  background-color: #f4f4f4;
  resize: none;
  font-size: 18px;
  color: #000;
}
.sideMenu .mailBlock .popup .popUpFooter {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 100%;
  padding: 34px 0;
}
.sideMenu .mailBlock .popup .popUpFooter .popupColumn {
  width: 33%;
  position: relative;
}
.sideMenu .mailBlock .popup .popUpFooter .popupColumn:nth-child(2) {
  width: 60%;
}
.sideMenu .mailBlock .popup .popUpFooter .popupColumn:nth-child(3) {
  display: flex;
  justify-content: flex-end;
}
.sideMenu .mailBlock .popup .popUpFooter .popupColumn .logo {
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  height: 100%;
}
.sideMenu .mailBlock .popup .popUpFooter .popupColumn .logo img {
  width: 100%;
  height: 100%;
  max-width: 60px;
}
.sideMenu .mailBlock .popup .popUpFooter .popupColumn::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 2px;
  background-color: #f4f4f4;
}
.sideMenu .mailBlock .popup .popUpFooter .popupColumn:last-child::after {
  display: none;
}
.sideMenu .mailBlock .popup .popUpFooter .popupColumn .info {
  font-size: 13px;
  color: #f4f4f4;
  text-align: center;
}
.sideMenu .mailBlock .popup .popUpFooter .popupColumn .submitButton {
  color: #f4f4f4;
  border: 1px solid;
  padding: 5px 15px;
}
.sideMenu .mailBlock .popup .popUpFooter .popupColumn .submitButton:hover {
  background-color: #fff;
  color: #000;
  text-decoration: none;
}
.sideMenu .mailBlock a.sideMenuMail {
  background-color: #000;
  transition: background-color 0.3s;
}
.sideMenu .mailBlock a.sideMenuMail.opened {
  background-color: #fff600;
}
.sideMenu .sideMenuItem .sideMenuMail.opened i {
  opacity: 0;
}
.sideMenu .mailBlock {

}
.sideMenu .mailBlock a.sideMenuMail .cross {
  position: relative;
  opacity: 0;
  visibility: hidden;
  width: 50%;
  height: 50%;
}
.sideMenu .mailBlock a.sideMenuMail.opened .cross {
  visibility: visible;
  opacity: 1;
}
.sideMenu .mailBlock .cross::before, .sideMenu .mailBlock .cross::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100%;
  height: 1px;
  background-color: #2f2b1e;
  transform: rotate(-0deg);
  transition: transform 0.3s;
}
.sideMenu .mailBlock a.sideMenuMail.opened .cross::before {
  transform: rotate(45deg);
}
.sideMenu .mailBlock a.sideMenuMail.opened .cross::after {
  transform: rotate(-45deg);
}

/*SectionSN-ContactUs*/

.sn-intro{
    padding-top: 140px;
    padding-bottom: 90px;
    background: #fff600;
}
.sn-contactsus, .gsgenergy {
    background: #fffefe;
    padding-top: 90px;
    padding-bottom: 90px;
    position: relative;
}
.sn-contactus__title{
    border-bottom: 2px solid #000;
    width: 50%;
    text-align: right;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 2px;
    font-weight: 300;
}
 .sn-contactsus textarea, .sn-contactsus input{
    background: #f4f4f4;
}
.sn-contactus__area{
    padding-right: 25px;
}
.sn-contactus__block{
    padding-left: 25px;
    width: 100%;
}

.gsg-energy__title{
    text-align: right;
    font-size: 24px;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
    margin-bottom: 100px;
}
.gsg-energy__intro-wrap{
    background: #000;
    width: 100%;
    height: 600px;
    padding: 90px;
    flex-direction: column;
}
.gsg-energy__intro{
    height: 50%;
    width: 100%;
    border-left: 2px solid #fff;
    display: flex;
    font-size: 48px;
    text-align: right;
    color: #fff;
    line-height: 65px;
}
.gsg-energy__intro_top {
    height: 25%;
    width: 100%;
    border: 2px solid #fff;
    border-bottom: none;
}
.gsg-energy__intro_bottom {
    height: 25%;
    width: 100%;
    border: 2px solid #fff;
    border-top: none;
}

.gsg-energy__map{
    width: 100%;
    height: 600px;
}

/*SectionContactUs*/

.contactsus{
    background: #fff600;
    padding-top: 134px;
    padding-bottom: 90px;
    position: relative;
}
.contactus__title{
    text-align: right;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 1px;
    font-weight: 700;
}
.contactus__area textarea{
    width: 100%;
    justify-content: space-between;
    border: none;
    padding: 10px;
    height: 214px;
    border-radius: 0;
    resize: none;
}
.contactus__wrap{
    padding-top: 48px;
    padding-bottom: 54px;
    margin-top: 10px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    direction: rtl;
}
.contactus__inp{
    height: 214px;
    width: 100%;
    padding-left: 24px;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
}
.contactus__inp input{
    height: 54px;
    border: none;
    padding-right: 10px;
    border-radius: 0;
}
.contactus__area{
    padding-right: 24px;
}
.contactus_btn[type="submit"]{
    border: 1px solid #000;
    padding: 0 18px;
    line-height: 25px;
    margin-top: 25px;
    background: none;
    font-weight: bold;
    border-radius: 0;
}
.contactus__links{
    margin-top: 22px;
    color:#000;
}
.contactus__links_left-block{
    text-align: left;
}
.contactus__links_right-block{
    text-align: right;
}
.contactus__lets{
    text-transform: uppercase;
    font-size: 100px;
    font-weight: bold;
    color: #fff;
    padding: 0;
    margin: 0;
    margin-top: 50px;
}
.contactus__soc_icons{
    margin-left: 14px;
    /* padding-bottom: 24px; */
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}
.contactus__text, .contactus__soc{
    font-size: 26px;
    padding-bottom: 12px;
    display: inline-flex;
    color: #000;
    font-weight: 400;
    letter-spacing: 1px;

}


/*SectionArchive*/
.archivepage{
    border-top: 25px solid #fff600;
    padding-top: 75px;
    padding-bottom: 100px;
}
.archivepage__wrap_right{
    width: 100%;
    text-align: right;
    margin-top: 60px;
    padding-left: 10px;
}
.archivepage__wrap_left{
    width: 100%;
    text-align: right;
    margin-top: 60px;
    padding-right: 10px;

}
.archivepage__img{
    align-items: center;
    display: flex;
    width: 100%;
    height: 435px;
    position: relative;

}
.archivepage__wrap_left .archivepage__img_01{
    height: 850px;
}

.archivepage__wrap_right .archivepage__img_03{
    height: 850px;
}

.archivepage__desc{
    width: 245px;
    height: 95px;
    background: #fffc00;
    color: #fffc00;
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
    line-height: 95px;
    text-shadow: 2px 2px #000;
    transform: rotate(-90deg);
}
.archivepage__wrap_right .archivepage__desc{
    position: absolute;
    bottom: 75px;
    right: -170px;
}
.archivepage__wrap_left .archivepage__desc{
    position: absolute;
    bottom: 75px;
    left: -170px;
}

.archivepage__img_title{
    width: 100%;
    margin-top: 15px;
    padding-bottom: 15px;
    font-size: 26px;
    line-height: 26px;
    display: inline-flex;
    border-bottom: 1px solid #000;
    color: #171111;

}
.archivepage__img_title p{
    display: block;
    font-size: 18px;
    margin-right: 10px;
    font-weight: 300;
    color: #231f20;
}
.archivepage__img_text{
    width: 100%;
    margin-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    color: #231f20;
    line-height: 23px;
    border-bottom: 1px solid #000;
    margin-bottom: 30px;
}



/*SectionArchive*/

.archive .decorCircle{
    position: absolute;
    bottom: 2%;
    right: -13%;
}

.archivepage{
    border-top: 25px solid #fff600;
    padding-top: 75px;
    padding-bottom: 100px;
    direction: rtl;
}
.archivepage__wrap_right{
    width: 100%;
    text-align: right;
    margin-top: 60px;
    padding-left: 10px;
}
.archivepage__wrap_left{
    width: 100%;
    text-align: right;
    margin-top: 60px;
    padding-right: 10px;

}
.archivepage__img{
    align-items: center;
    display: flex;
    width: 100%;
    height: 435px;
    position: relative;

}
.archivepage__wrap_left .archivepage__img_01{
    height: 850px;
}

.archivepage__wrap_right .archivepage__img_03{
    height: 850px;
}
.archivepage__desc{
    width: 245px;
    height: 95px;
    background: #fffc00;
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
    line-height: 95px;
    text-shadow: 2px 2px #000;
    transform: rotate(-90deg);
}
.archivepage__img a{
    text-decoration: none;
    color: #fffc00;
}
.archivepage__img a:active{
    text-decoration: none;
}

.archivepage__wrap_right .archivepage__desc{
    position: absolute;
    bottom: 75px;
    right: -170px;
}
.archivepage__wrap_left .archivepage__desc{
    position: absolute;
    bottom: 75px;
    left: -169px;
}

.archivepage__img_title{
    width: 100%;
    margin-top: 15px;
    padding-bottom: 15px;
    font-size: 26px;
    line-height: 26px;
    display: inline-flex;
    border-bottom: 1px solid #000;
    color: #171111;

}
.archivepage__img_title p{
    display: block;
    font-size: 18px;
    margin-right: 10px;
    font-weight: 300;
    color: #231f20;
}
.archivepage__img_text{
    width: 100%;
    margin-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    color: #231f20;
    line-height: 23px;
    border-bottom: 1px solid #000;
    margin-bottom: 30px;
}

/*SectionBlogPage*/

.blog .decorCircle{
    position: absolute;
    bottom: 2%;
    right: -13%;
}

.blogpage{
    border-top: 25px solid #fff600;
    padding-top: 75px;
    direction: rtl;
}
.blogpage__title{
    text-align: right;
    font-size: 24px;
    line-height: 52px;
    border-bottom: 1px solid #000;
    margin-bottom: 55px;
    color: #171111;

}
.blogpage__title span{
    font-size: 18px;
    font-weight: 300;
    padding: 10px;
    color: #231f20;
}
.blogpage__wrap{
    text-align: right;
    padding-left: 30px;
    color: #231f20;
}
.blogpage__wrap_title{
    font-size: 24px;
    padding-bottom: 24px;
    line-height: 24px;
    font-weight: 300;
}
.blogpage__wrap_text{
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
}
.blogpage__imgwrap{
    padding-right: 30px;
    width: 100%;
}
.blogpage__mainimg{
    width: 100%;
    height: 400px;
}

.blogpage__img_title{
    border-right: 14px solid #fff600;
    padding-right: 55px;
    padding-left: 30px;
    font-size: 24px;
    color: #231f20;
    margin-top: 60px;
    margin-bottom: 24px;
    display: block;
    text-align: right;
    line-height: 26px;

}

.blogpage__text p{
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    text-align: right;
    margin-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
}

.blogpage__imgwrap_sec{
    padding-left: 30px;
}
.blogpage__secimg{
    width: 100%;
    height: 820px;
    margin-top: 6px;
}
.blog__nav{
    width: 100%;
    margin-top: 80px;
    display: inline-flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    margin-bottom: 130px;

}

.blog .header .borderblock, .archive .header .borderblock {
    border-color: #fff;
    color: #fff;

}
.blog .header .borderblock .header__title, .archive .header .borderblock .header__title{
    font-size: 105px;
    width: 80%;

}

/*SectionHousesys*/

.housesys, .housesys .housesys__img img{
    width: 100%;
    height: 100vh;
    direction: ltr;
}
.housesys__menu_title{
    font-size: 26px;
    padding-bottom: 15px;

}
.housesys .container-fluid{
    padding: 0;
}
.housesys .housesys__img{
    width: 74%;
    position: relative;
}
.housesys__menu{
    width: 26%;
    height: 100vh;
    background: #000;
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    color: #fff;
    text-align: right;
    position: relative;
    box-shadow: -5px 5px 8px rgba(0, 0, 0, 0.65);

}
.housesys__menu_wrap{
    margin: auto 0;
}
.housesys__menu_desc{
    border: 1px solid #fff;
    border-right: 0;
    border-left: 0;
    padding: 10px 0;
    margin: 5px 0;
}
.housesys__menu_desc div{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    line-height: 20px;
}
.housesys__img button{
    padding: none;
    background: none;
    border: none;
}
.housesys__menu_wrap button{
    padding: 0;
    display: inline-flex;
    justify-content: center;
    line-height: 34px;
    width: 100%;
    margin: 5px 0;
}
.housesys__menu_wrap .housesys__menu_btn,
.housesys__menu_wrap button{
    padding: 0;
    display: inline-flex;
    justify-content: center;
    line-height: 34px;
    width: 100%;
    margin: 5px 0;
    transition: all .2s ease-in-out;
}
.housesys__menu_wrap .housesys__menu_btn.disabled,
.housesys__menu_wrap .housesys__menu_btn.disabled:hover{
  color: #fff;
  border-color: #fff;
  background: transparent;
}
.housesys__menu_wrap .housesys__menu_btn.active,
.housesys__menu_wrap .housesys__menu_btn:hover{
  background: #fff600;
  color: #000;
  text-decoration: none;
}
.housesys__menu_btn,
.housesys__menu_btn:visited{
    color: #fff600;
    border: 1px solid #fff600;
    background: none;
}
.housesys__offer_btn{
    color: #000;
    background: #fff600;
    border: 1px solid #fff600;
}
.housesys__menu_wrap button:hover, .housesys__menu_wrap button:focus{
    text-decoration: none;
    color: #000;
    background: #fff600;
    border: 1px solid #fff600;
}

.housesys__menu_nav{
    position: absolute;
    top: 42%;
    right: 0;
    width: 60px;
    height: 250px;
    background: #ececec;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px 0;
}
.housesys__menu_nav .housesys__menu_lnk img{
    width: 27.5px;
    height: 27.5px;
    border-radius: 50px;
    margin: 0 auto;
    display: flex;
}

/* Footer. */


.site-footer{
    padding-top: 270px;
    padding-bottom: 75px;
    background: #000;
    position: relative;
    direction: rtl;
}
.footer__upbtn{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);

}
.footer__logo{
    max-width: 170px;
    margin-top: 140px;
}
.footer__wrap{
    width: 1200px;
    margin: 0 auto;
}
.footer__menu{
    border-bottom: 2px solid #8e8686;
    margin: 0 auto;
    padding-bottom: 10px;
    margin-bottom: 20px;
    max-width: 1200px;
}
.footer__links{
    align-items: center;
    text-decoration: none;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
}
.footer__links_item{
    display: flex;
    color: #8e8686;
    align-items: center;
}
.footer__links_item a{
    color: #fff;
    text-decoration: none;
}
.footer__links_item a object{
    margin-left: 14px;
}
.footer__menu a{
    color: #8e8686;
}

.footer__menu a:hover, .footer__links a:hover{
    color: #fff600;
    text-decoration: none;
}

.footer__menu_sep{
    display: inline-flex;
    width: 2px;
    height: 20px;
    background: #8e8686;
    margin: 0 10px;
}


/*--SectionInvest--*/

.invest-heder{
    padding-top: 13%;
}

/*SectionBarkanProj*/


.barkan-header{
    position: relative;
    direction: rtl;
}
.barkan-header__img{
    /* position: absolute;
    top: 0;
    left: 0; */
    margin-top: 130px;
    margin-bottom: 60px;
}
.barkan-header__img img{
    width: 100%;
    height: 620px;
}
.barkan-header__text{
    font-size: 24px;
    color: #231f20;
    font-weight: bold;
    text-align: right;
}
.barkan-about{
    text-align: right;
    color: #231f20;
    direction: rtl;
}
.barkan-about a{
    color: #231f20;
}
.barkan-about__title{
    padding-bottom: 4px;
    margin-top: 50px;
    border-bottom: 2px solid  #231f20;
    color: #231f20;
    font-size: 24px;
}
.barkan-about__text{
    margin: 25px 0;
    font-size: 18px;
}
.barkan-about__stattext{
    font-size: 20px;
    line-height: 20px;
}
.barkan-about__statline{
    max-width: 700px;
    width: 100%;
    height: 13px;
    background: #000;
    margin: auto 0;
    margin-right: auto;
    margin-left: 50px;
}
.statline_01{
    background: #c4c2c2;
    width: 250px;
    height: 100%;
    display: inherit;
    margin-right: auto;
}
.statline_02{
    background: #c4c2c2;
    width: 390px;
    height: 100%;
    display: inherit;
    margin-right: auto;
}
.statline_03{
    background: #c4c2c2;
    width: 20%;
    height: 100%;
    display: inherit;
    margin-right: auto;
}
.barkanPAGE {

}
.SamplePAGE .statline_03 {
  width: 65%;
}
.barkan-about__stat_wrap{
    padding-bottom: 25px;
}
.barkan__about_map{
    width: 100%;
    height: 380px;
    margin-top: 60px;
}
.barkan-about__btn{
    margin-right: auto;
    border: 2px solid  #231f20;
    /* border-left: none; */
    font-size: 18px;
    padding: 2px 6px;
    margin-top: 64px;
}
.barkan-slider{
    padding-top: 100px;
}
.barkan-slider__wrap{
    height: 600px;
    width: 100%;
    display: inline-block;
    position: relative;
}
.barkan-slider__toggle_right{
    position: absolute;
    top: 50%;
    right: 0;
    margin-bottom: 50%;
    margin-left: 50%;
    width: 64px;
    height: 56px;
    text-align: center;
    line-height: 60px;
    background: #d7d3cf;
}
.barkan-slider__toggle_right i{
    font-size: 24px;
    color: #000;
}
.barkan-slider__toggle_left{
    position: absolute;
    top: 50%;
    left: 0;
    margin-bottom: 50%;
    margin-right: 50%;
    width: 64px;
    height: 56px;
    text-align: center;
    line-height: 60px;
    background: #d7d3cf;
}
.barkan-slider__toggle_left i{
    font-size: 24px;
    color: #000;
}
.barkan-slider__img{
    width: 100%;
    display: inline-flex;
    position: relative;
}
.barkan-slider__img_left{
    padding-right: 30px;
}
.barkan-slider__img .barkan-single-slider {
  padding-left: 30px;
}
.barkan-slider__img .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  font-size: 27px;
  padding: 0;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.7);
  outline: none;
  font-weight: bold;
}
.barkan-slider__img .slick-prev {
  left: 0;
  z-index: 2;
  transform: scale(-1, 1);
}
.barkan-slider__img .slick-prev::after {
  content: '>';
  color: black;
}
.SamplePAGE .houseScreen {
  margin-top: 80px;
}
.SamplePAGE .houseScreen > a {
  width: 100%;
  display: block;
}
.SamplePAGE .houseScreen > a > img {
  width: 100%;
}
.SamplePAGE .barkan-slider__img .barkan-single-slider {
  max-height: 655px;
}
.SamplePAGE .barkan-slider__img .barkan-single-slider img {
  height: 100%;
  width: 100%;
}
.barkan-slider__img .slick-next {
  right: 0;
}

.barkan-slider__img .slick-next::after {
  content: '>';
  color: black;
}
/*SectionComingSoon*/

.coming__wrap{
    position: relative;
    margin-right: 40px;
    margin: auto 0;
}
.coming__wrap img{
    height: 250px;
}
.coming__wrap .coming__circle{
  width: 300px;
  height: 300px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: -120px;
  margin-bottom: -60px;
}
.big-projects-list .list-item .item-meta{
  color: #231f20;
  margin-top: 10px;
  font-size: 26px;
  font-weight: 300;
  line-height: 30px;
  text-align: right;
}
.big-projects-list .list-item .item-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  min-width: 535px;
  padding: 40px;
  opacity: 0;
  transition: .5s;
  visibility: hidden;
  margin-right: auto;
  background-color: #ffffffa3;
  text-align: left;
  direction: ltr;
  overflow: hidden;
}
[dir="rtl"] .big-projects-list .list-item .item-info{
  text-align: right;
  direction: rtl;
}
.big-projects-list .list-item .item-info .title{
  color: #231f20;
  font-size: 26px;
  font-weight: 700;
  line-height: 48px;
}
.big-projects-list .list-item .item-info .excerpt p{
  color: #231f20;
  font-size: 20px;
  font-weight: 400;
}
.big-projects-list .list-item .item-info .view-link {
  color: #231f20;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}
.big-projects-list .list-item .view-btn{
  background-color: black;
  color: #fff6f8;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.big-projects-list .list-item .view-btn .btn-content{
  position: absolute;
  width: 150px;
  text-align: center;
  font-size: 26px;
  font-weight: 300;
  line-height: 20px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(-90deg);
}
.big-projects-list .list-item .item-info.hovered{
  padding: 40px;
  opacity: 1;
  height: auto;
  visibility: visible;
  transition: .5s;
}
.big-projects-list .list-item .view-btn:hover + .big-projects-list .list-item .item-info{

}
.big-projects-list .item-bg{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.big-projects-list .item-content-block{
  display: flex;
  height: 50%;
  transform: translateX(-99px);
}
.small-projects-list{
  background-color: #fff600;
}
.small-projects-list .small-list-items-wrapper{
  max-width: 1200px;
  margin: 0 auto;
  padding: 150px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.small-projects-list .list-item{
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
  margin-bottom: 50px;
}
.small-projects-list .item-desc{
  display: flex;
}
.small-projects-list .list-item .item-info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: black;
  color: white;
  width: 100%;
  min-width: 435px;
  padding: 40px;
  margin-right: auto;
  text-align: left;
  direction: ltr;
}
[dir="rtl"] .small-projects-list .list-item .item-info{
  text-align: right;
  direction: rtl;
}
.small-projects-list .list-item .view-btn{
  background-color: black;
  color: #fff6f8;
  width: 100px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.small-projects-list .list-item .view-btn .btn-content{
  position: absolute;
  width: 150px;
  text-align: center;
  font-size: 26px;
  font-weight: 300;
  line-height: 20px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(-90deg);
}
.small-projects-list .item-content-block{
  height: 300px;
  width: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}
.small-projects-list .item-content-block .item-info .title{
  font-size: 26px;
  font-weight: 700;
  line-height: 48px;
}
.small-projects-list .item-content-block .excerpt p{
  font-size: 20px;
  font-weight: 400;
  direction: ltr;
}
[dir="rtl"] .small-projects-list .item-content-block .excerpt p{
  direction: ltr;
}

.big-projects-list.long-term .list-item .item-info{
      justify-content: flex-start;
}








#coming__circle{

    -webkit-animation-name: rotation;
    -webkit-animation-duration: 36s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotation;
    -moz-animation-duration: 36s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -o-animation-name: rotation;
    -o-animation-duration: 36s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    animation-name: rotation;
    animation-duration: 36s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-webkit-keyframes rotation {
0% {-webkit-transform:rotate(0deg);
-moz-transform:rotate(0deg);
-o-transform:rotate(0deg);
transform:rotate(0deg);}
100% {-webkit-transform:rotate(360deg);
-moz-transform:rotate(360deg);
-o-transform:rotate(360deg);
transform:rotate(360deg);}
}
@-moz-keyframes rotation {
0% {-webkit-transform:rotate(0deg);
-moz-transform:rotate(0deg);
-o-transform:rotate(0deg);
transform:rotate(0deg);}
100% {-webkit-transform:rotate(360deg);
-moz-transform:rotate(360deg);
-o-transform:rotate(360deg);
transform:rotate(360deg);}
}
@-o-keyframes rotation {
0% {-webkit-transform:rotate(0deg);
-moz-transform:rotate(0deg);
-o-transform:rotate(0deg);
transform:rotate(0deg);}
100% {-webkit-transform:rotate(360deg);
-moz-transform:rotate(360deg);
-o-transform:rotate(360deg);
transform:rotate(360deg);}
}
@keyframes rotation {
0% {-webkit-transform:rotate(0deg);
-moz-transform:rotate(0deg);
-o-transform:rotate(0deg);
transform:rotate(0deg);}
100% {-webkit-transform:rotate(360deg);
-moz-transform:rotate(720deg);
-o-transform:rotate(360deg);
transform:rotate(360deg);}
}


.menu-item-has-children {
	display: flex;
}


/*Media*/

@media screen and (max-width: 1620px){

    .logo{
        top: 5%;
        left: 2%;
    }

    .sideMenu{
        top: 6%;
    }
    header{

    }
    .borderblock:nth-child(2) {
        /* height: 160px; */
    }
    .header__title {
        /* line-height: 160px; */
    }
    .clientsBlock{
        width: 180px;
    }
    .clientItemHome p{
        font-size: 26px;
    }

}
@media screen and (max-width: 1520px){

    .clientsBlock{
        width: 160px;
    }
    .clientItemHome p{
        font-size: 22px;
    }

}
@media screen and (max-width: 1460px){

    .clientsBlock{
        width: 140px;
    }
    .clientItemHome p{
        font-size: 20px;
    }

}
@media screen and (max-width: 1380px){

    .clientsBlock{
        width: 110px;
    }
    .clientItemHome p{
        font-size: 18px;
    }

}
@media screen and (max-width: 1300px){

    .clientsBlock{
        width: 100px;
    }
    .clientItemHome p{
        font-size: 16px;
    }

}

@media screen and (max-width: 1200px){
    .header__title {
        font-size: 70px;
    }
    .clientsBlock{
        width: 100px;
    }
    .clientItemHome p{
        font-size: 16px;
    }


}
/* 1120px */
@media screen and (max-width: 1120px){
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media screen and (max-width: 992px){


}

@media screen and (max-width: 768px){
    .sideMenu{
        top: 0;
    }
    .sideMenu .sideMenuItem{
        width: 46px;
        height: 46px;
    }
    .header__title {
        font-size: 50px;
    }
    .logo{
        width: 130px;
    }
}

@media screen and (max-width: 576px){
     .header__title {
    line-height: 70px;
    }
}

@media screen and (max-width: 320px){
     .header__title {
    line-height: 50px;
    }
}
