.container-1{
  width: 1200px;
  margin-right: auto;
  margin-left: auto;

  direction: rtl;
}

.big-projects-list .list-item{
  margin-bottom: 130px;
  width: 100%;
  width: calc(100% - 94px);
}
.big-projects-list .item-bg{
  height: 620px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* .big-projects-list .view-btn{
  height: 94px;
  width: 100%;
  display: inline-flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  color: #fff6f8;
  background: #000;
} */
